/* piddly.css v1.3 */
/* normalize.css v8.0.1 */
html {line-height: 1.15; -webkit-text-size-adjust: 100%}
body {margin: 0}
main {display: block}
h1 {font-size: 2em; margin: 0.67em 0}
hr {box-sizing: content-box; height: 0; overflow: visible}
pre {font-family: monospace, monospace; font-size: 1em}
a {background-color: transparent}
abbr[title] {border-bottom: none; text-decoration: underline; text-decoration: underline dotted}
b, strong {font-weight: bolder}
code, kbd, samp {font-family: monospace, monospace; font-size: 1em}
small {font-size: 80%}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline}
sub {bottom: -0.25em}
sup {top: -0.5em}
img {border-style: none}
button, input, optgroup, select, textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0}
button, input {overflow: visible}
button, select {text-transform: none}
[type="button"], [type="reset"], [type="submit"], button {-webkit-appearance: button}
[type="button"]: : -moz-focus-inner, [type="reset"]: : -moz-focus-inner, [type="submit"]: : -moz-focus-inner, button: : -moz-focus-inner {border-style: none; padding: 0}
[type="button"]: -moz-focusring, [type="reset"]: -moz-focusring, [type="submit"]: -moz-focusring, button: -moz-focusring {outline: 1px dotted ButtonText}
fieldset {padding: 0.35em 0.75em 0.625em}
legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal}
progress {vertical-align: baseline}
textarea {overflow: auto}
[type="checkbox"], [type="radio"] {box-sizing: border-box; padding: 0}
[type="number"]::-webkit-inner-spin-button, [type="number"]: : -webkit-outer-spin-button {height: auto}
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit}
details {display: block}
summary {display: list-item}
template {display: none}
[hidden] {display: none}
/* custom rules */
body {background-color: #1c1c1c; color: #f0f0f0; font-size: 1em}
a {color: #f0f0f0; text-decoration: none; border-bottom: 1px dotted #f0f0f0}
a:visited {color: #f0f0f0; border-bottom: 1px dashed #f0f0f0}
a:hover {color: #f0f0f0; border-bottom: none}
pre {padding: 10px 5px; overflow-x: scroll;}
pre, code {background-color: #4f4f4f}
@media(prefers-color-scheme: light){
  body {background-color: #f0f0f0; color: #1c1c1c}
  a {color: #1c1c1c; text-decoration: none; border-bottom: 1px dotted #1c1c1c}
  a: visited {color: #1c1c1c; border-bottom: 1px dashed #1c1c1c}
  a: hover {color: #1c1c1c; border-bottom: none}
  pre, code {background-color: #bfbfbf}
}
h1 {color: #5687bd; font-size: 3.4rem; line-height: 1.2; letter-spacing: -.1rem; margin-bottom: 0}
h2 {color: #5687bd; font-size: 2.5rem; line-height: 1.25; letter-spacing: -.1rem}
h3 {font-size: 2rem}
h4 {font-size: 1.32rem; margin: 30px 0 10px 0}
pre {padding: 10px 5px}
code {padding: 0 5px}
.content {width: 80%; max-width: 1240px; margin: 60px auto}
ul {list-style-type: none; padding: 0}
body {font-family: ui-monospace, "CascadiaMono", "SegoeUIMono", "UbuntuMono", "RobotoMono", Menlo, Monaco, Consolas, monospace}
h1, h2, h3, h4, h5, h6 {font-family: system-ui, -apple-system, BlinkMacSystemFont, "SegoeUI", "Ubuntu", "Roboto", "NotoSans", "DroidSans", sans-serif}
b, strong {font-weight: bold}
p {margin-top: 0}
h1, h2, h3, h4, h5, h6 {font-weight: 140; letter-spacing: -.05rem; margin-top: 0, margin-bottom: 2rem}
div {line-height: 1.5rem}
@media(max-width: 767px){
  .h1 {font-size: 3rem}
  .h2 {font-size: 2.2rem}
}
th { min-width: 100px; text-align: left;}
th, td {padding: 10px;}
table, th, td {border: 1px solid #e0e0e0;}
table {border-collapse: collapse; margin-bottom: 10px;}
